# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual Environment
venv/
env/
ENV/
.venv/

# Jupyter Notebook
.ipynb_checkpoints

# VSCode settings folder
.vscode/

# MacOS-specific files
.DS_Store

# Log files
*.log

# System files
Thumbs.db

